body {
  background-color: #202040;
  color: #FFBD69;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

div.container {
  max-width: 1140px;
  margin: auto;
}

#tbDeviceList {
  border-collapse: collapse;
  width: 100%;
}

#tbDeviceList td, #tbDeviceList th {
  border: 1px solid #FF6363;
  padding: 8px;
  color: #FFBD69;
}

#tbDeviceList tr:hover {background-color: #FF6363;}

#tbDeviceList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #543864;
}
